@charset "UTF-8" ;
$navy: #2d3e50 ;

@mixin hover {
  opacity: 0.7;
}

a {
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media all {
  #content {
    position: relative;
  }

  .home-menu {
    background-color: $navy;

    .pure-menu-heading {
      color: white;
      font-size: 1.5rem;
      font-weight: bold;

      a {
        color: white;
      }
    }

    .pure-form {
      margin-left: 50px;
      display: inline-block;

      .directory-name {
        width: 500px;
      }

      .error {
        color: red;
      }
    }

    ul {
      float: right;
    }

    .pure-menu-list {
      color: white;
      font-size: 1.5rem;
      display: inline-block;
      padding: .5em 1em;

      a {
        color: white;
      }
    }
  }

  .body {
    margin-top: 55px;
    z-index: 5;
    height: 100%;
    min-height: 560px;
    width: 100%;
    display: block;
    padding: 1rem 1rem 1rem 1rem;
    background-color: white;

    ul.slides {
      padding-top: 30px;
      padding-left: 150px;
      font-size: 2rem;
      list-style: none;

      li {
        max-width: 1000px;
        padding: 1rem;
        border-bottom: 1px solid darkgray;
      }

      .name {
        width: 95%;
        display: inline-block;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;

        &:hover {
          @include hover;
        }
      }

      .trash {
        display: inline-table;
        vertical-align: top;

        &:hover {
          @include hover;
        }
      }
    }
  }

  .footer {
    height: 15px;
    display: block;
    position: absolute;
    bottom: 0;
    width: 100%;
    white-space: nowrap;

    .copyright {
      text-align: center;
      color: black;
    }
  }

  ::-webkit-scrollbar {
    width: 5px;
    background: #eee;
  }

  ::-webkit-scrollbar-thumb {
    background-color: darkgrey;
  }
}
