@charset 'UTF-8'

html, body {
  height: 100%;
  width: 100%;
  font-size: 16px;
}

h1 {
  font-size: 2rem;
  font-weight: bold;
  padding: 5px 10px;
}
#content {
  height: 100%;
  margin: auto;
  position: relative;
  width: 100%;
}

header {
  background-color: black;
  color: white;
  height: 50px;
  height: 100%;
  width: 100%
}

footer {
  bottom: 5px;
  color: gray;
  position: absolute;
  text-align: center;
  vertical-align: bottom;
  width: 100%;
}
